.product{
    padding: 20px 50px;
    display: flex;
    gap: 50px;
    .p-left{
        flex: 1;
        display: flex;
        gap: 15px;
        .pImages{
            flex: 1;
            img{
                width: 100%;
                height: 150px;
                object-fit: cover;
                cursor: pointer;
                margin-bottom: 10px;
            }
        }
        .pMaimImg{
            flex: 5;
            img{
                width: 100%;
                max-height: 800px;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }
    .p-right{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .p-right_price{
            color: #2879fe;
        }
        p{
            font-weight: 300;
            font-size: 14px;
        }
        .p-right_quantity{
            display: flex;
            gap: 10px;
            button{
                padding: 7px;
                border: none;
                border-radius: 2px;
                cursor: pointer;
                 
            }
        }
        .p-right_addBtn{
            width: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;
            padding: 7px;
            background-color: #2879fe;
            color: #fff;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }
        .p-others_links{
            display: flex;
            align-items: center;
            gap: 20px;
            color: #2879fe;
            .p-others_links_item{
                display: flex;
                align-items: center;
                gap: 20px; 
            }
        }
        .p-info{
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-weight: 300;
            margin-top: 20px;
            font-size: 14px;
        }
        hr{
            background-color: gray;
        }
    }
}