.contact{
    padding: 15px;
    color: #fff;
    background-color: #2879fe;
    display: flex;
    justify-content: center;
    .contactWrapper{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        input{
            outline: none;
            border: none;
            padding: 5px;
            border-radius: 3px 0 0 3px ;
        }
        button{
            padding: 5px;
            background-color: rgba(36, 29, 29, 0.626);
            color: #fff;
            border: none;
            border-radius: 0 3px 3px 0 ;
            cursor: pointer;
        }
        .contactIcons{
            display: flex;
            gap: 10px;
        }
    }
}